<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
    <style>
        .title{
            position: relative;
            left: 200px;
        }
        .pure-button{
            position: relative;
            left: 200px;
        }
    </style>
</head>
<body>
    <h1 class="title">Hello {{username}}</h1>
    <a class="pure-button" href="/user/login/view">Login</a>
    <a class="pure-button" href="/user/register/view">Register</a>
    <a class="pure-button" href="/todo/index">Todo</a>
    <a class="pure-button" href="/weibo/index">Weibo</a>
</body>
</html>