<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册登录页面</title>
    <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
    <style>
        .login{
            position: relative;
            left: 200px;
        }
    </style>
</head>
<body>
<div class="login">
    <h1>登录</h1>
    <form class="pure-form pure-form-stacked" action="/user/login" method="post">
        <fieldset>
            <legend>你好 {{username}}</legend>

            <label for="email">username</label>
            <input id="email" name="username" placeholder="username">

            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password">

            <label for="remember" class="pure-checkbox">
                <input id="remember" type="checkbox"> Remember me
            </label>

            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
        </fieldset>
        <h3>{{result}}</h3>
</div>



</body>
</html>